#aboutUs .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    text-align: center;
}

#aboutUs .containerText {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

#aboutUs img {
    box-shadow: 1px -1px 20px #ffffff, 1px -1px 20px #ff00e0, -1px 1px 20px #ff00e0, 1px 1px 20px #ff00e0;
    border-radius: 50%;
    max-width: 200px;
}

#aboutUs p {
    color: var(--primary-2);
    text-wrap: balance;
}

@media (min-width: 960px){
    #aboutUs .containerText{
        flex-direction: row;
    }

    #aboutUs img {
        border-radius: 50%;
        transform: scale(1.5);
    }
}