.contenedor-ContactUs {
    position: relative;
    min-height: 100vh;
}

#contactUs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 2rem;
}

#contactUs h1 {
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 12px;
  margin: 0;
  padding: 30px 0 40px 0;
}

#whatsScroll {
    position: fixed;
    bottom: 50px;
    right: 15px;
    transform: scale(.9);
    z-index: 999;
}

#whatsScroll:hover {
    transform: scale(1.3);
    transition: transform .3s ease, transform .3s ease;
}

#whatsScroll:not(:hover) {
    transition: transform .3s ease, transform .3s ease;
}

#contactUs .LogoContactUs img,
#contactUs .LogoContactUs2 video {
    display: none;
}

#RSS .containerRSS {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

#RSS .containerRSS img {
    width: 100%;
    aspect-ratio: 18/15;
}

#RSS .containerText {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#RSS .containerText a {
    margin: 0.25rem 0;
    text-decoration: none;
}

#RSS form > a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0rem;
    padding: .1rem 0;
    position: absolute;
    z-index: 2;
}

#ig:hover,
#whatsapp:hover {
    transform: scale(1.3);
    transition: transform .3s ease, transform .3s ease;
}

#ig:not(:hover),
#whatsapp:not(:hover) {
    transition: transform .3s ease, transform .3s ease;
}

/* ***************************************
*********** Form **************
****************************************** */

form {
    font-size: 1.2rem;
}

form label {
    display: block;
    width: 100%;
    margin: 0 auto;
}

input,
textarea, input:focus,
textarea:focus {
    color: var(--white-rgba);
    font-size: .85rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    border: none;
    background: var(--dark-rgba);
    box-shadow: none;
    cursor: pointer;
    margin: .5rem 0 .5rem;
    border-radius: 5%;
}

textarea {
    resize: none;
}

#contactUs input::placeholder {
    color: white;
}

form button {
    background-color: var(--primary);
    font-size: 1.25rem;
    width: 11rem;
    color: var(--white);
    border: none;
    padding: .5rem;
    margin: .5rem 0rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-2);
}

/* ***************************************
*********** Responsive **************
****************************************** */

@media (min-width: 960px){

    #contactUs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
        margin: 0;
        align-items: center;
    }

    #contactUs .container,
    #contactUs .LogoContactUs2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #contactUs .containerGeneral {
        display: flex;
        flex-direction: row;
    }

    #contactUs h1 {
        margin: 30px 0 40px 0;
        padding: 1rem;
    }
      
    #contactUs .container{
        margin: 0;
        padding: 5rem;
    }

    #contactUs .LogoContactUs2 {
        max-width: 22rem;
        margin: 0;
        padding: 0;
    }

    #contactUs .LogoContactUs2 video {
        position: relative;
        display: block;
        border-radius: 15%;
        margin-left: 200px;
        transform: scale(.9);
        opacity: .75;
        box-shadow: 0px 0px 20px 10px var(--box-shadow-2);
        width: 100%;
    }

}




