#servicio2 {
    text-align: center;
}

#servicio2 .container {
    padding: 15px 12px;
}

#servicio2 h2{
    margin-top: 0;
    font-size: 2rem;
}

#servicio2 p {
    display: block;
}

#servicio2 .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    margin: 30px;
    border-radius: 15%;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        var(--box-shadow-1),
        var(--box-shadow-1)
    )
    ,url("../img/EspejoMagico.webp");
}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        var(--box-shadow-1),
        var(--box-shadow-1)
    )
    ,url("../img/kitAntiresaca.webp");
}

/* *******************************************************
MediaQuery
******************************************************* */
@media (min-width: 700px){
    #servicio2 .servicio2 {
        display: flex;
        flex-direction: row;
        
    }

    #servicio2 .carta {
        width: 50%;
    }
} 