#servicio2 {
    text-align: center;
}

#servicio2 .servicio2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 15px;
}


#servicio2 .container {
    padding: 15px 12px;
}

#servicio2 h2{
    margin-top: 0;
    font-size: 2rem;
}

#servicio2 p {
    text-wrap: balance;
}

#servicio2 img {
    border-radius: 5%;
    max-width: 400px;
    box-shadow: 0px 0px 20px 2px black;
}