#servicio1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 2rem;
}
#servicio1 .texto-servicio1 {
    padding: 0rem 1rem;
}

#servicio1 .container-media {
    position: relative;
}

#servicio1 .containerGalery {
    display: flex;
    width: 100vh;
    height: 75vh;
}

#servicio1 video {
    /* position: relative;
    left: 0%;
    min-width: 100%;
    max-width: 100%; */

    /* Marcamos que el maximo de alto sea el 50% de la web */

    /* max-height: 50vh; 
    border-radius: 10%; */

    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

#servicio1 video:hover {
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
}

#servicio1 button {
    margin: 10px 0px 0px;
    /* TODO: Crear el apartado de + trabajos y habilitar el boton  */
    display: none;
}
